.nopadding{
  padding: 1px !important;  
  margin: 0px 5px 5px 0px !important;
}

.padding10{
  padding:10px;
}

.padding5{
  padding: 5px;
}

.alignCenter{
  text-align: center;
}

.imageIcon{
  height: 100px;
  width:100px;
  border-radius: 20px;
}

.postImage{
  max-height: 240px;
}

.greyText{
  color: grey;
}

.smallText{
  font-size: 14px;
}

.colorBlack{
  color: black;
}

.textLoved{
  color: red;
  font-weight: bold;
}

.textShared{
  font-weight: bold;
  color:dodgerblue;
}

.nodecoration{
  text-decoration: none;
}

.nodecoration:hover{
  text-decoration: none;
}


.commentBtn{
  background-color: royalblue;
  color: white;
  padding: 5px !important;
  margin: 0px !important;
}

.commentHeader{
  border-bottom: green 2px solid;
}

.PopUp-shown{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  width:100%;
}

.PopUp-hidden{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  width:100%;
  
}

.PopUp-content{
  position: relative;
  margin: 50px auto;
  max-width: 900px;
  height: 500px;
  color: black;
  background-color: white;
  border: 3px solid white;
  padding: 25px 15px 15px 15px;
  border-radius: 15px;
}


.commentRow{
  font-size: 13px;
  padding: 3px;
}

#popup-close-btn{
  position: absolute;
  top: 0;
  right: 5px;
}